
<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-order">
                <div class="card-header">
                    <h5 class="card-title"> Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_order}}</h3>
                </div>
            </div>
        </div>
    </div>
     <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="Order-delivered">
                <div class="card-header">
                    <h5 class="card-title">Order Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{deliver}}</h3>
                </div>
            </div>
        </div>
    </div>
     <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="order-pending">
                <div class="card-header">
                    <h5 class="card-title"> Order Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col" >
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="out-delivery" style="background-color: #20B2AA;">
                <div class="card-header">
                    <h5 class="card-title">Out for delivery</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{out}}</h3>
                </div>
            </div>
        </div>
    </div>

</div>
