#logo{

}

body{
    background-color: #ebeff5;
}

#total-order{
        background-color: #1cd4cf;

}

#Order-delivered{
        background-color: #7abecc;
}

#order-pending{
        background-color: #1abeca;
}
